/* Main.css */
.main-body, .main-html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.main-container {
  text-align: left;
}

.main-title {
  margin-bottom: 20px;
  text-align: left;
}

.main-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-categoria {
  flex: 0 1 45%;
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* Para que los pseudo-elementos no se salgan del contenedor */
  border-radius: 20px;
}

.main-categoria::before, .main-categoria::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1; /* Para que los pseudo-elementos queden detrás del contenido */
}

.main-categoria::before {
  left: 0;
  background-color: #6780d1;
}

.main-categoria::after {
  right: 0;
  background-color: #B0C4DE;
}

.main-categoria-info, .main-categoria-imagen {
  z-index: 1; /* Para asegurar que el contenido esté encima del pseudo-elemento */
}

.main-categoria-info {
  flex: 1;
  text-align: left;
}

.main-categoria-imagen {
  flex: 0 0 150px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-categoria-imagen img {
  max-width: 100%;
  height: auto;
}

.main-categoria h2 {
  margin-top: 0;
}

.main-categoria button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.main-categoria button:hover {
  background-color: #0056b3;
}

/* Estilos adicionales para el carrusel */
.lo-mas-visto-carousel .control-dots .dot {
  background-color: #007BFF;
  box-shadow: none;
}

.lo-mas-visto-carousel .control-dots .dot.selected {
  background-color: #0056b3;
}

.lo-mas-visto-carousel .slide img {
  display: block;
  margin: 0 auto;
  max-height: 300px; /* Ajusta esta altura según sea necesario */
}

.lo-mas-visto-carousel .thumb {
  border: none;
}

.lo-mas-visto-carousel .carousel-status {
  display: none; /* Oculta el estado del carrusel (1/5, 2/5, etc.) */
}

.lo-mas-visto-carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5);
}

.lo-mas-visto-carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}

.lo-mas-visto-carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}

.lo-mas-visto-carousel .carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
