@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #202020;
    color:white;
    background-image: url('./imagenes/fondoRegister.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el body */
    background-position: center;
}