/* Estilo base para la aplicación */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
} 

.body{
  color: #000000;
  padding: 20px; 
  animation-duration: 3s;
  animation-name: opacidad;
  opacity: 1;
}

.body div{
  text-align: center;
}

/* Estilos para centrar la tabla */
.tabla-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* Estilos para la tabla */
table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@keyframes opacidad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.ventana-flotante {
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 100000000;
}

.ventana-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 80%;
  height: 100%;
  overflow: auto; /* Añade scroll si el contenido es demasiado grande */
  display: flex; /* Establecer el contenedor como un flexbox */
}

/* Estilos para el botón de cerrar */
.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

/* Estilos para la imagen del curso */
.imagen-curso {
  width: 256px; /* Reescalar la imagen al 10% de su tamaño original */
  height: 160px; /* Mantener la proporción de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el título */
}

h2{
  flex: 1; /* El título ocupará todo el espacio restante */
}

/* Estilo para el contenedor del botón de notas */
.div-p {
  position: absolute; /* Posición absoluta para poder usar bottom y right */
  display: flex;
  margin-top: 180px;
  width: 80%;
  height: 100%;
}

.btn-notas{
  height: 30px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 30px;
}

/* Estilo para el div que contiene el contenido */
.contenido-div {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Recorta y cubre el área del contenedor */
  display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
  padding: 15px; /* Espacio interno */
  background-color: #f0f0f0; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
