.contenedor-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%; /* Ajusta la altura al 50% de la altura de la ventana del navegador, sirve para crecer el contenedor de color transparente */
    width: 60%; /* Ajusta el ancho al 50% del ancho de la ventana del navegador */
    margin: 0;
    background-color: #f4f5f7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .perfil-usuario {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .Tarjeta_perfil {
    border-radius: 10px;
  }
  
  .perfil_imagesn {
    border-radius: 10px;
    background: #f6d365;
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    box-shadow: #f6d365 0px 5px 15px;
  }
  
  .avatar {
    width: 80px;
  }
  
  .Detalle_perfil {
    padding: 1.5rem;
  }
  
  .Divisor {
    margin: 0;
  }
  
  .Detallitos {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .Detalle h6 {
    margin: 0;
  }
  
  .social-links {
    display: flex;
    justify-content: flex-start;
  }